
body{
	background: url("../img/background-3.jpg");
	background-color: #F5F5F5;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	/*height: 100%;*/
}

a{
	font-family: comic sans ms;
	text-decoration: none;
}
a:link, a:hover, a:visited {
    text-decoration: none;
}

nav{
    /*background: url("../img/15.png");*/
    /*background: #7a88ff;*/
    box-shadow: inset 0 -5px 45px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    /*box-shadow: 0 2px 7px #ffffff;*/
    /*border-radius: 5px;*/
    height: 70px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    /*background: url("../img/15.png");*/
    /*box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);*/
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    /*border-radius: 5px;*/
}

nav a:hover{
    /*background-color: #7b85ff;*/
    color: white;
    border-radius: 50%;
}
.cntr{
    padding-top: 25px;
}
@keyframes line {
    0% {
        background-position-x: 320px;
    }
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 10px 15px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    /*text-shadow: 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5);*/
}


li {
	list-style-type: none;
}

input {
	width: 350px;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 7px;
}
input:focus {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.openMenu{
	display: none;
	color: #fff;
	padding: 10px 15px;
	cursor: pointer;
	text-align: center;
}

.info_flex{
	margin-top: 5%;
	display: flex;
	text-align: center;
	justify-content: space-around;
	flex-direction: row;
}

button {
	position: relative;
	display: inline-block;
	color: #777674;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
	user-select: none;
	padding: 1px 2px;
	outline: none;
	border-radius: 3px / 100%;
	background-image:
			linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
			linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
			linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
			linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
			linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
			linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}

button:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

button:active {
	top: 1px;
}

.user{
	color: snow;
	font-family: 'Rye', cursive;
	margin-left: 5%;
	font-size: 20px;
	text-shadow:#000 0px 1px 1px;
}

.avat{
	margin-left: 50%;
	width: 100px;
	height: 100px;
	border-radius: 50px;

}

.container {
	max-width: 980px;
	text-align: center;
	margin: 20px auto;
}

h1 {
	margin-bottom: 20px;
}

#geocoding_form {
	margin: 40px auto 40px;
}

.input-group {
	margin-left: 4%;
}

.find-me.btn:focus {
	border-color: transparent;
	outline: 0;
}

.coordinates {
	font-size: 18px;
	opacity: 0;
	margin-bottom: 40px;
}

.no-browser-support {
	font-size: 18px;
	opacity: 0;
}

.coordinates b:first-child {
	margin-right: 15px;
}

.visible {
	opacity: 1;
}

.map-overlay {
	max-width: 600px;
	height: 400px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	border-radius: 2px;
}

#map {
	max-width: 550px;
	height: 400px;
	margin: 0 auto;
}

.wrap{
	margin-top: 2em;
}

.form_container fieldset {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);
	display: flex;
	flex-wrap: wrap;
	width:25%;
	height: 25%;
	border-radius: 40% 10% / 10% 40%;
	border: thick double #32a1ce;
}

.form_container label {
	float:left;
	/*width:auto;*/
	font-family: 'fantasy', cursive;
	color:black;
	padding:5px 15px 3px 5px;
}
.top{
	margin-top: 25px;
}

/*.form_container input {*/
/*	font-size:11px;*/
/*	line-height:13px;*/
/*	color:white;*/
/*	margin:0;*/
/*	padding:0;*/
/*	background: dimgrey;*/
/*}*/

/*.form_container select{*/
/*	float:left;*/
/*	width:15%;*/
/*	height:2em;*/
/*	font-size:11px*/
/*}*/
.fon{
	/*background: url("../img/form.jpg");*/
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);
	border-radius: 5%;
	color: black;
}
.form_container select.gender{
	width:8em;
}
.form_flex {
	display: flex;
	flex-wrap: wrap;
	margin-left: 5%;

}

.search_row_last{
	margin-top: 0.5em;
	height: 10%;
	color: darkgoldenrod;
}

.test{
	margin-left: -16.2em;
}

.delete{
	height: 15px;
	width: 15px;
	position: absolute;
	margin-top: 10px;
	/*left: 1em;*/
	margin-left: -2em;
}

.delete:hover{
	transform: scale(1.4) !important;
	transition: 1s;
}

.accaunt_foto{
	top: 50em;
	height: 25em;
	width: 25em;
	border: #F5F5F5;
	border-radius: 5%;
}

.sendEmailActiv {
	background: gold;
}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

.flex-form{
	flex: 0 1 100%;
	height: 22em;
	width: 15em;
	/*background: black;*/
	color: darkblue;
	/*border-radius: 50% 20% / 10% 40%;*/
	margin-bottom: 3em;
	align-self: center;
}

.flex-elem{
	/*flex: 0 1 100%;*/
	height: 19em;
	width: 10em;
	margin: 2px;
	/*background:url("../img/1.png");*/
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);
	color: gold;
	border-radius: 10px;
	align-self: center;
	align-content: stretch;
	/*border-radius: 50% 20% / 10% 40%;*/
	border: thick double #32a1ce;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
}

.foto-form{
	width: 9.5em;
	height: 10.5em;
	border-radius: 1em;
	border: 1mm ridge burlywood;
}

.name-form{
	margin-top: -1em;
	margin-left: 2.5em;
	color: black;
	text-shadow: 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5);
}

.city-form{
	margin-top: -1em;
	margin-left: 2.5em;
	color: black;
	text-shadow: 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5);
}

.form-help{
	width: 8em;
	height: 2em;
	margin-top: 0.2em;
}

.button {
	margin-top: -1em;
	margin-left: 1.5em;
	width: 6em;
	height: 2em;
	display: inline-block;
	color: #777674;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
	user-select: none;
	padding: 1px 2px;
	outline: none;
	border-radius: 3px / 100%;
	background-image:
			linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
			linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
			linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
			linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
			linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
			linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}

.button:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

.button:active {
	top: 1px;
}

.button2 {
	margin-top: -1em;
	margin-left: 35%;
	width: 8em;
	height: 3em;
	display: inline-block;
}

.button2:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

.foto_ac{
	margin-top: 5em;
}

.comment_foto{
	padding-top: -2em;
}

#addComment{
	padding-top: 1em;
	/*padding-left: -4em;*/
	/*width: 150px;*/
}

textarea{
	width:25.5em;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 7px;
	resize: none;
}

textarea:focus {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.name {
	margin-left: 37%;
	margin-top: 2em;
	font-size: 2em;
	font-style: oblique;
	color: #7b85ff;
	font-weight: 600;
	font-family: 'fantasy', cursive;
	text-shadow:#000 0px 1.5px 1px;
}

.flex_user {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 2em;
}

#user_avatar{
	width: 25em;
	height: 20em;
	border-radius: 50%;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2em;
}

.flex-itm {
	margin: 5px;
	padding: 15px;

}

.foto_us{
	height: 5em;
	width: 5em;
	/*margin-left: -100%;*/
}

.foto_us:hover{
	border-radius: 50%;
	transition: 0.4s;
}
.map{
	display: flex;

	flex-wrap: wrap;
	margin-top: 2em;
	border: 4px double black;
	background: brown;
}
.info{
	width: 74%;
	padding-top: 2px;
	padding-left: 4px;
	padding-bottom: 2px;
 	color: darkblue;
	border-radius: 15px;

}
.info2{
	width: 80%;
	margin-left: 15%;
	color: rebeccapurple;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 4px double rosybrown;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.7), 0 1px 1px rgba(255,255,255,0.8);
}
#user_like{
	width: 15%;
}
#user_like:hover{
	transform: scale(1.2) !important;
	transition: 1.5s;
}
.sim{
	color: #d94f5c;
	font-size: 2.8em;
	font-family: 'fantasy', Times, cursive;
	font-style: oblique;
}

.flex-liked{
	flex: 0 1 100%;
	margin-top: 2%;
	margin-bottom: 2em;
	text-align: center;

}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 45%;
	margin: 0 auto;
}
.open {
    width: 100px;
    height: 100px;
	/*flex: 1 1 auto;*/
	margin: 10px;
	/*padding: 20px;*/
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 100% auto;
	color: white;
	 text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	/*background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);*/
	text-decoration: none;
	cursor: pointer;
}


.open:hover {
	background-position: right center;
	transform: scale(1.1) !important;
	transition: 1s;
}

.chat-result{
	border: 1px solid darkgoldenrod;
}

.shoutbox {
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;

}

h1 {
	background-color:  #87bfef;
	box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.1);
	width: 100%;
	position: relative;
	height: 46px;
	text-align: left;
	margin: 0;
	padding-left: 20px;
	color:  #ffffff;
	font-size: 16px;
	font-weight: bold;
	line-height: 46px;
}

h1 img {
	position: absolute;
	top: 13px;
	right: 35px;
	width: 17px;
	height: 18px;
	float:right;
	cursor: pointer;
}

.shoutbox-content {
	list-style: none;
	width: 350px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	overflow: auto;
	height: 200px;
	/*background: #777674;*/

}

/*ul{*/
/*	background: url("../img/vibrant-pink-watercolor-painting-background_53876-58930.jpg");*/
/*}*/
.shoutbox-content li {
	padding: 15px;
	/*border-bottom: 1px solid goldenrod;*/
}

.hh2 {
	position: relative;
	background-color:  #f9fafb;
	border-bottom: 2px solid #e2e8eb;
	max-width: 100%;
	height: 45px;
	margin: 0;
	text-align: center;
	color:  #df377a;
	font-size: 14px;
	font-weight: bold;
	line-height: 45px;
	cursor: pointer;
}

.hh2 span {
	display: inline-block;
	position: absolute;
	float: right;
	right: 13px;
	font-size: 22px;
	top: 0;
	width: 20px;
	height: 20px;
}

.shoutbox-form form {
	display: inline-block;
	background-color:  #f9fafb;
	box-shadow: 0px 2px 0px 0.00px #e2e8eb;
	max-width: 100%;
	text-align: left;
	padding: 20px 20px 30px;
}

.shoutbox-form form label {
	display: inline-block;
	color:  #df377a;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	width: 80px;
	height: 11px;
	line-height: 11px;
	margin-bottom: 15px;
}

.popup-window{
	display: none;
	box-shadow: 0px 0px 4px 0px rgb(70, 70, 70);
	-webkit-box-shadow: 0px 0px 4px 0px rgb(70, 70, 70);
	-moz-box-shadow: 0px 0px 4px 0px rgb(70, 70, 70);
	padding: 20px;
	background: white;
	z-index: 500;
	-webkit-border-radius: 5px!important;
	-moz-border-radius: 5px!important;
	border-radius: 5px!important;
}

.backpopup{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgb(70, 70, 70);
	opacity: 0.7;
	top: 0;
	left: 0;
	z-index: 400;
	cursor: pointer;
}
.close{
	float: right;
	cursor: pointer;
	right: 5px;
	top: 0px;
	position: absolute;
	padding: 4px;
}
.none {
	display: none;
}
.massage{
	line-height: 1.6em;
	font-size: 17px;
	color:dimgrey;
	text-align: right;
	list-style: none;
	padding: 1em 0;
	/*box-shadow: inset 0 -5px 45px rgba(100,100,100,4.8), 0 5px 5px rgba(255,255,255,0.8);*/
	border-radius: 25%;

}

.massage2{
	line-height: 1.6em;
	color: #6b85ff;
	font-size: 17px;
}
.time{
	/*color: gray(0%);*/
	font-size: 8px;
}
.date {
	color: burlywood;
	font-family: 'Rye', cursive;
	font-size: 12px;
	text-align: center;
	/*box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);*/
	width: 350px;
}
.down_im{
	/*background:url("../img/heart-backgrounds-hearts-christmas-background-25905.jpg");*/
	box-shadow: inset 0 -5px 45px rgba(100,100,100,4.8), 0 5px 5px rgba(255,255,255,0.8);
	margin-left: 8%;
	height: 55%;
	margin-top: 150px;
	border-radius: 50% 20% / 10% 40%;
	border: thick double #32a1ce;
	height: 200px;
	width: 300px;

}
.down_avatar{
	display: flex;
	margin-top: 25%;
	width: 250px;

}

.down_avatar2{

	display: flex;
	margin-top: 5%;
	margin-left: 10%;
	width: 150px;
}
.down_avatar2:hover{
	background: rgba(115, 110, 99, 1.0);
}
.change{
	margin-top: 60px;
	margin-left: 8%;
	display: flex;
	width: 353px;
	flex-wrap: wrap;
	border: thick double gray;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);
	border-radius: 5%;
	margin-right: 30px;
}
.email{
	margin-top: 0px;
}

.email:hover{
	background: rgba(205, 214, 219, 1.5);
}
.passw{
	margin-top: 30px
}
.passw:hover{
	background: rgba(205, 214, 219, 1.5);
}
.dell{
	height: 38px;
 	background: rosybrown;
	margin-bottom: 15px;
	border-radius: 7px;
}
.dell:hover{
	transform: scaleX(-1) !important;
	transition: 1.5s;
}
.button2:hover{
	background: rgba(115, 110, 99, 1.0);
}
.geo:hover{
	background: rgba(205, 214, 219, 1.5);
}

.notif:hover{
	transform: skewX(13deg) !important;
	transition: 1s;
}
.map_user{
	height: 120%;
	width: 60%;
	margin-left: 20%;
	margin-top: 4%;
}
.flex-cab{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.com{
	margin-left: 50%;
}

.styled-select {
	background: transparent;
	height: 29px;
	overflow: hidden;
	width: 150px;
}

.styled-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px;
	width: 200px;
}
.styled-select:hover{
	border: red;
	background: lightslategrey;
}

.rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.semi-square {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.black   {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.3), 0 1px 1px rgba(255,255,255,0.5);
}
.unread{
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);
	padding: 4px;
	border-radius: 50% 20% / 10% 40%;
}
.chat_u {
	box-shadow: inset 0 -5px 45px rgba(147,62,250,0.4), 0 1px 1px rgba(255,255,255,0.3);
	padding: 4px;
	border-radius: 50% 20% / 10% 40%;
}
.chatIm{
	box-shadow: inset 0 -5px 45px rgba(30,110,90,0.4), 0 1px 1px rgba(255,255,255,0.5);
	padding: 4px;
	border-radius: 50% 20% / 10% 40%;
}

.slate select   {
	color: #000;
}
.black select   {
	color: #000;
}

.search_row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 380px;
}
.left_left{
	margin-left: 1em;
}
.down_foto{
	color: rosybrown;
	font-size: 25px;
	text-align: center;
	font-family: 'fantasy', cursive;
}
.pagination {
	display: flex;
}
.page-link {

	margin-right: 18px;
	border-radius: 10px;
	border: solid 1px #ececec;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);

}
#submit-massage:hover{
	background: #7a88ff;
}
.page-link:hover{
	background: lightslategrey;
}
.pagination a {
	padding: 11px 16px 11px 16px;
	transition: .2s all;
	display: flex;
	color: white;

}
#link:hover{
	border-radius: 10px;
	border: solid 1px #ececec;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);
}
#link2:hover{
	border-radius: 10px;
	border: solid 1px #ececec;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.5);
}

.ramdom_massage{
	border-radius: 8px;
	padding: 2px;
	margin-top: 10px;
	background: #8CB3F3;
}
.ramdom_female{
	padding: 2px;
}
.ramdom_male{
	padding: 2px;
}

.pg-active {
	margin-right: 18px;
	border-radius: 10px;
	border: solid 1px #ececec;
	background-color: #ececec;
}
.pg-active a{
	color: black;
}

.pagination_centr{
	margin-left: 8em;
}

/*.open{*/
/*	width: 50px;*/
/*	height: 50px;*/
/*}*/
.not{
    position: absolute;
    background: none;
    box-shadow: none;
}
.emoji{
	width: 25px;
}
.emoji:hover{
	transform: scale(1.1) !important;
	transition: 1s;
}
.menuIm{
	width: 50px;
	height: 50px;
}
.sm{
	font-size:20px
}
.sm:hover {
	border-radius: 5px;
	background-color: #6b85ff;
}
.line{
	height: 50px;
	background: #87bfef;
}
.help-footer{
	margin-left: -56.5%;
	width: 213%;
}
.cord{
	width: 25.2em;
}
.ban{
	width: 160px;
	height: 20px;
	padding-bottom: 5px;
}
.pg-active:hover{
	background: rgba(209, 213, 217, 0.49);
}




ul li a {
	position: relative;
	color: #aaa;
	text-transform: uppercase;
	transition: 0.5s;
	overflow: hidden;
}
ul li a::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	left: -100%;
	width: 100%;
	height: 4px;
	/*background: #2196f3;*/
	transition: 0.5s;
}
ul li a:hover {
	color: #fff;
}
ul li a:hover::before {
	animation: animate .5s linear forwards;
}

@keyframes animate {
	0% {
		top: calc(50% - 2px);
		left: -100%;
		height: 4px;
		z-index: 1;
	}
	50% {
		top: calc(50% - 2px);
		left: 0;
		height: 4px;
		z-index: 1;
	}
	100% {
		top: 0;
		left: 0;
		height: 100%;
		z-index: -1;
	}
}

@media (max-width: 645px) {
	nav ul li a {
		background: gray;
	}
    nav{
        height: 30px;
    }
	.openMenu {
		display: block;
	}

	nav ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
	}

	nav ul.active {
		display: block;
	}

	nav ul li {
		display: block;
	}

	nav {
		background-color: #696969;
	}
	.shoutbox {
		max-width: 250px;
	}
	.delete{
		/*margin-top: -340px;*/
		margin-left: -330px;
	}
	.accaunt_foto {
		height: 22em;
		width: 22em;
	}
	.map{
		margin-left: 1%;
		width: 96%;
	}
	.map_user {
		width: 94%;
		margin-left: 3%;
	}
	.change{
		margin-left: 12%;
		width: 107%;
	}
	.edit_password, .dell_acc, .sendEmailActiv, .btn1{
		width: 28em;
	}
	.menu{
		width: 103%;
		z-index: 2;
	}
	.help-footer{
		margin-left: 2%;
		width: 98%;
	}
	#user_like{
		margin-left: 40%;
	}
	.help-info{
		margin-left: 5%;
	}
	#user_avatar {
		width: 100%;
		margin-left: 1%;
	}
	.form_flex {
		margin-left: 0%;
	}
	textarea{
		width: 17.5em;
	}
	#submit-massage{
		width: 19em;
	}
	.cord{
		width: 26em;
	}
	.pagination{
		padding-left: 0;
		margin-left: -105px;
	}
}

@media (max-width: 320px) {
	.delete{
		margin-top: -21em;
		margin-left: -7em;
	}
	.accaunt_foto{
		width: 19em;
		margin-left: 1.6em;
	}
	.change{
		margin-left: 19%;
		width: 93%;
	}
	.edit_password, .dell_acc, .sendEmailActiv, .btn1{
		width: 23em;
	}
	.cord{
		width: 21em;
		left: 5px;
	}
	.menu{
		width: 356px;
	}
	.help-info{
		margin-left: 15%;
	}
	.help-footer{
		margin-left: 2%;
		width: 99%;
	}
	.map{
		margin-left: 10%;
		width: 85%;
	}
	.search_row{
		width: 340px;
	}
	.styled-select{
		width: 102px;
	}
	.search_column_2{
		margin-left: 20px;
	}
	.wid5s{
		width: 330px;
	}
	#addComment{
		margin-left: 21px;
	}
	.flex{
		margin-left: 10%;
	}
	#user_avatar {
		width: 100%;
		margin-left: 2%;
	}
	.flex-itm{
		padding: 3px;
	}
	.fon{
		margin-left: 14px;
	}
	.pagination{
		padding-left: 0;
		margin-left: -145px;
	}
}

