body{
	background: url("../img/background-3.jpg");
	background-color: #F5F5F5;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a{
	font-family: comic sans ms;
	text-decoration: none;
}

a:link, a:hover, a:visited {
	text-decoration: none;
}

nav{
	background-color: #000000;
	position: relative;
	box-shadow: 0 2px 7px #ffffff;
	border-radius: 5px;
}

nav ul{
	display: flex;
	justify-content: space-around;
	background-color: #000000;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	border-radius: 5px;
}

nav a:hover{
	/*background-color: #ffd700;*/
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
	animation: line 1.5s;
	color: #d94f5c;
}

@keyframes line {
	0% {
		background-position-x: 320px;
	}
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	display: block;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5);
}

li {
	list-style-type: none;
}

input {
	width: 350px;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 7px;
}
input:focus {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.openMenu{
	display: none;
	color: #fff;
	padding: 10px 15px;
	cursor: pointer;
	text-align: center;
}

.info_flex{
	margin-top: 5%;
	display: flex;
	text-align: center;
	justify-content: space-around;
	flex-direction: row;
}

button {
	position: relative;
	display: inline-block;
	color: #777674;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
	user-select: none;
	padding: 1px 2px;
	outline: none;
	border-radius: 3px / 100%;
	background-image:
			linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
			linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
			linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
			linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
			linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
			linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}

button:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

button:active {
	top: 1px;
}

.user{
	color: darkred;
	font-family: 'Rye', cursive;
	margin-left: 20%;
	font-size: 2vh;
	text-shadow:#000 0px 1px 1px;
}

.avat{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.container {
	max-width: 980px;
	text-align: center;
	margin: 20px auto;
}

h1 {
	margin-bottom: 20px;
}

#geocoding_form {
	margin: 40px auto 40px;
}

.input-group {
	margin-left: 4%;
}

.find-me.btn:focus {
	border-color: transparent;
	outline: 0;
}

.coordinates {
	font-size: 18px;
	opacity: 0;
	margin-bottom: 40px;
}

.no-browser-support {
	font-size: 18px;
	opacity: 0;
}

.coordinates b:first-child {
	margin-right: 15px;
}

.visible {
	opacity: 1;
}

.map-overlay {
	max-width: 600px;
	height: 400px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	border-radius: 2px;
}

#map {
	max-width: 550px;
	height: 400px;
	margin: 0 auto;
}

.wrap{
	margin-top: 18em;
}

.form_container fieldset {
	background: antiquewhite;
	float:left;
	width:5em;
	height: 18em;
	border: thick double #32a1ce;
	padding:0  24px 0
}

.form_container label {
	float:left;
	width:auto;
	color:dimgrey;
	padding:5px 15px 3px 5px;
}

.form_container input {
	/*float:left;*/
	/*width:90px;*/
	font-size:11px;
	line-height:13px;
	color:white;
	margin:0;
	padding:0;
	background: dimgrey;
}

.form_container select{
	float:left;
	width:5em;
	height:2em;
	font-size:11px
}

.form_container select.gender{
	width:8em;
}

.search_row_last{
	margin-top: 0.5em;
}

.test{
	margin-left: -16.2em;
}

.search_row_last{
	margin-left: 8.5em;
}


.delete{
	height: 15px;
	width: 15px;
	position: absolute;
	margin-top: 10px;
	left: 24em;
}

.delete:hover{
	transform: scale(1.4) !important;
	transition: 1s;
}

.accaunt_foto{
	top: 50em;
	height: 25em;
	width: 25em;
	border: #F5F5F5;
	border-radius: 5%;
}

.sendEmailActiv {
	background: gold;
}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

.flex-form{
	flex: 0 1 100%;
	height: 15em;
	width: 15em;
	/*background: black;*/
	color: darkblue;
	border-radius: 10px;
	margin-bottom: 3em;
	align-self: center;
}

.flex-elem{
	/*flex: 0 1 100%;*/
	height: 19em;
	width: 10em;
	margin: 2px;
	background:url("../img/1.png");
	color: gold;
	border-radius: 10px;
	align-self: center;
	align-content: stretch;
	border: thick double #32a1ce;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
}

.foto-form{
	width: 9.5em;
	height: 10.5em;
	border-radius: 1em;
	border: 1mm ridge burlywood;
}

.name-form{
	margin-top: -1em;
	margin-left: 2.5em;
	color: black;
	text-shadow: 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5);
}

.city-form{
	margin-top: -1em;
	margin-left: 2.5em;
	color: black;
	text-shadow: 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5);
}

.form-help{
	width: 8em;
	height: 2em;
	margin-top: 0.2em;
}

.button {
	margin-top: -1em;
	margin-left: 1.5em;
	width: 6em;
	height: 2em;
	display: inline-block;
	color: #777674;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
	user-select: none;
	padding: 1px 2px;
	outline: none;
	border-radius: 3px / 100%;
	background-image:
			linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
			linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
			linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
			linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
			linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
			linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}

.button:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

.button:active {
	top: 1px;
}

.button2 {
	margin-top: -1em;
	margin-left: 150px;
	width: 6em;
	height: 2em;
	display: inline-block;
}

.button2:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

.foto_ac{
	margin-top: 5em;
}

.comment_foto{
	padding-top: -2em;
}

#addComment{
	padding-top: 1em;
	padding-left: -4em;
	width: 200%;
}

textarea{
	width:25.5em;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 7px;
	resize: none;
}

textarea:focus {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.name {
	margin-left: 37%;
	margin-top: 2em;
	font-size: 2em;
	color: #d94f5c;
	font-weight: 600;
	font-family: 'fantasy', cursive;
}

.flex_user {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 2em;
}

#user_avatar{
	width: 65%;
	border-radius: 50%;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2em;
}

.flex-itm {
	margin: 5px;
	padding: 15px;

}

.foto_us{
	height: 5em;
	width: 5em;
	margin-left: -100%;
}

.foto_us:hover{
	border-radius: 50%;
	transition: 0.4s;
}
.map{
	display: flex;

	flex-wrap: wrap;
	margin-top: 2em;
	border: 4px double black;
	background: brown;
}
.info{
	width: 74%;
	padding-top: 2px;
	padding-left: 4px;
	padding-bottom: 2px;
 	color: darkblue;
	background: url("../img/ki.png");
	border-radius: 15px;

}
.info2{
	width: 80%;
	margin-left: 15%;
	color: rebeccapurple;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 4px double rosybrown;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.7), 0 1px 1px rgba(255,255,255,0.8);
}
#user_like{
	width: 15%;
}
#user_like:hover{
	transform: scale(1.2) !important;
	transition: 1.5s;
}
.sim{
	color: #d94f5c;
	font-size: 2.8em;
	font-family: 'fantasy', Times, cursive;
	font-style: oblique;
}

.flex-liked{
	flex: 0 1 100%;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;

}

@media (max-width: 645px) {
	.openMenu {
		display: block;
	}

	nav ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
	}

	nav ul.active {
		display: block;
	}

	nav ul li {
		display: block;
	}

	nav {
		background-color: #696969;
	}
}

